<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href="../dist/ab-date-range-picker.css" rel="stylesheet" />
</head>

<body ng-controller="MainCtrl as ctrl">

    <div style="max-width: 960px; margin: auto; padding:20px; text-align: right">
        <h1>Pure AngularJS DateRangePicker (no jQuery)</h1>
        <p>&nbsp;</p>

        <div>
            <input type="text" ng-model="dateRange2.start"/> - <input type="text" ng-model="dateRange2.end" />
        </div>

        <p>&nbsp;</p>
        <h3>Default Ranges</h3>
        <ab-date-range-picker
            ng-model="dateRange2"
            input-format="l"
        ></ab-date-range-picker>

        <p>&nbsp;</p>

        <h3>Custom Ranges</h3>
        <ab-date-range-picker
            ng-model="dateRange"
            month-format="MM YY"
            always-show-calendars
        ></ab-date-range-picker>
            <!-- callback="dateRangeChanged()" -->

        <!-- <p>&nbsp;</p>
        <h3>Call back: <code>{{mycallback}}</code></h3> -->
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
    <script type="text/javascript" src="libs/moment.min.js"></script>
    <script src="../dist/ab-date-range-picker.js"></script>

    <script>
    (function(){
        var app = angular.module("app", ['abDateRangePicker']);

        app.controller("MainCtrl", ['$scope', function ($scope) {

            // specify default date range in controller
            $scope.dateRange = {
                start: moment("12-05-2015", "MM-DD-YYYY"),
                end: moment("01-25-2016", "MM-DD-YYYY")
            };
            let today = moment(),
                endOfSeason = moment('01-12-19','MM-DD-YY');
            if (today.isSameOrBefore(endOfSeason))
                endOfSeason = today;

            //Select range options
            $scope.customRanges = [
                {
                    label: "Current week",
                    sublabel: "Sunday to Today",
                    range: {
                        start: moment().startOf("week").startOf("day"),
                        end: moment().endOf("day")
                    }
                },
                {
                    label: "Last week",
                    sublabel: "Prior 7 days to Sunday",
                    range: {
                        start: moment().startOf("week").add(-1, "week").startOf("day"),
                        end: moment().startOf("week").add(-1, "day").endOf("day")
                    }
                },
                {
                    label: "Last 2 Weeks",
                    sublabel: "Prior 14 days to Sunday",
                    range:{
                        start: moment().startOf("week").add(-2, "week").startOf("day"),
                        end:  moment().startOf("week").add(-1, "day").endOf("day")
                    }
                },
                {
                    label: "Current Month",
                    sublabel: "1st of month to Today",
                    range: {
                        start: moment().startOf("month").startOf("day"),
                        end: moment().endOf("day")
                    }
                },
                {
                    label: "Last Month",
                    sublabel: "Prior Calendar Month",
                    range: {
                        start: moment().add(-1, "month").startOf("month").startOf("day"),
                        end: moment().add(-1, "month").endOf("month").endOf("day")
                    }
                },
                {
                    label: "2018 Season",
                    sublabel: "July 15, 2018 to Today",
                    range: {
                        start: moment("07-15-18","MM-DD-YY"),
                        end: endOfSeason.endOf('day')
                    }
                }
            ];

            // $scope.mycallback = "None";
            // $scope.dateRangeChanged = function() {
            //     $scope.mycallback = " from " + $scope.dateRange.start.format("LL") + " to " + $scope.dateRange.end.format("LL");
            // }
        }]);
    })();
    </script>

</body>

</html>
